{% extends 'app/shop/base.html' %}

{% block shop_content %}

<h2>{{category.name}}</h2>
<!--Навигация по категории-->
<div class="row mb-4">
    <div class="col">
        <h5>Все категории: </h5>
        <ul class="list-unstyled">
            {% for cat in categories %}
                <li><a href="{% url 'shop_category' cat.id %}">{{cat.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<!--список товаров в категории-->
<div class="row">
    {% for prod in products %}
        <div class="col-mb-4 mb-4" style="width: 300px;">
                <a href="{% url 'shop_product_detail' prod.id %}" style="text-decoration: none; color: black;">
                <div class="card h-100">
                    {% if prod.image %}
                        <img src="{{prod.image.url}}" class="card-img-top" alt="{{prod.name}}" style="width: 150px;">
                    {% else %}
                        <img src="" class="card-img-top" alt="Нет изображения">
                    {% endif %}
                    <div class="card-body  d-flex flex-column">
                        <h5 class="card-title">{{prod.name}}</h5>
                        <p class="card-text">{{prod.description|truncatechars:100}}</p>
                        <p class="card-text mt-auto"><strong>{{prod.price}}</strong> руб.</p>
                    </div>
                </div>
                </a>
        </div>

    {% empty %}
        <div class="col">
            <p class="text-muted">Пусто</p>
        </div>
    {% endfor %}
</div>
{% endblock %}